@page "/category/create"
@inject ICategoryRepository _categoryRepository
@inject NavigationManager _navigationManager

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Category</h3>

    <div class="col-8">
        <EditForm Model="category" OnValidSubmit="UpsertCategory">
            <DataAnnotationsValidator />
            @*<ValidationSummary/> *@
            <div class="form-group">
                <label> Name:</label>
                <InputText class="form-control" @bind-Value="category.Name"></InputText>
                <ValidationMessage For="()=>category.Name" />
            </div>
            <br />
            <div class="form-group">
                <button class="btn btn-primary">@Title</button>
                <NavLink class="btn btn-secondary" href="category">Back to Index</NavLink>
            </div>

        </EditForm>
    </div>
</div>

@code {
    private CategoryDTO category { get; set; } = new CategoryDTO();
    private string Title { get; set; } = "Create";



    private void UpsertCategory()
    {
        _categoryRepository.Create(category);
        _navigationManager.NavigateTo("category");
    }

   
}
