@page "/category"

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">        
        <a class="btn btn-primary form-control" href="category/create">Add New Category</a>
    </div>
</div>

@code {

}
